<!-- Partials -->
<%=render(:partial => "shared/navigation") %>
<%= render(:partial => "shared/header") %>

<!-- Spa Page -->
<%= flash_alerts() %>

<!-- About Section -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="about-content col-lg-12">
          <% @about.each do |f|%>
            <%= render(:partial => "shared/about-section", :collections => @about, :locals => {:f => f})%>
          <% end %>
        </div>
      </div>
    </div>
  </section>
