
<%= render(:partial => "shared/navigation") %>
<%= render(:partial => "shared/header") %>
<!-- Spa Page -->
<!-- About Section -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="about-content col-lg-12">
           <%= render(:partial => "editable-sections/about-section")%>
        </div>
      </div>
    </div>
  </section>
