<section id="about">
  <div class="container">
    <div class="row">
      <div class="about-content col-lg-12">
        <div class="header-text">
          <h1> About me </h1>
          <hr class="line">
        </div>
          <%= image_tag("portrait.png", alt: "Patrick") %>
          <h2> Hi There. </h2>
          <p class="lead">The name’s Patrick I'm a web designer / developer based in Manila, Philippines. I’m a nerd who has a passion in web design and web development.</p>
          <a href="" class="btn btn-sharp"> Download my Resume</a>
      </div>
    </div>
  </div>
</section>
