<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="inverted-header">
        <h1><%= title %></h1>
        <hr class="line">
      </div>
        <p class="lead text">
          Speaking of tools, Here’s a list of my work using the tools mentioned above.
          From web design, web development, and plain just for fun
        </p>
          <%= capture(&block) %>

    </div>
  </div>
</section>
