<div class="header-text inverted-header">
  <h1>Services</h1>
  <hr class="line">
</div>

<div class="col-lg-4">
    <div class="media">
      <div class="media-left">
        <%= image_tag("code.svg", class: "web-dev-image", alt: "Code") %>
      </div>
        <div class="media-body">
          <h4 class="media-heading">Web Development</h4>
          <hr class="line">
          <p>I make sure every website is programmed into sweet beautiful code and properly maintained into all devices .</p>
        </div>
    </div>
</div>

  <div class="col-lg-4">
      <div class="media">
        <div class="media-left">
          <%= image_tag("web-resp.svg", class:"resp-design-image", alt: "Design") %>
        </div>

          <div class="media-body">
            <h4 class="media-heading">Responsive Design</h4>
            <hr class="line">
            <p>I keep my design samples simple. Without sacrificing any user-experience in between desktop or mobile views.</p>
          </div>
      </div>
  </div>

  <div class="col-lg-4">
      <div class="media">
        <div class="media-left">
          <%= image_tag("toolbox.svg", class:"toolbox-image", alt: "Maintenance") %>
        </div>

          <div class="media-body">
            <h4 class="media-heading">Maintenance</h4>
            <hr class="line-sm">
            <p>When it comes to maintenance. I make sure the site works, with no bugs or errors during or after launch day. </p>
          </div>
      </div>
  </div>
