<section id="toolset">
  <div class="container">
    <div class="row">
      <div class="inverted-header">
        <h1><%= title %></h1>
        <hr class="line">
      </div>
      <!-- Make this as a partial -->
          <%= capture(&block) %>
    </div>
  </div>
</section>
