<div class="header-text">
  <h1><%= f.main_title%></h1>
  <hr class="line">
</div>
<%= image_tag("portrait.png", alt: "Patrick") %>
<h2><%= f.second_title%></h2>
<p class="lead"><%= f.description%></p>
<a href="" class="btn btn-sharp"> Download my Resume</a>
