<footer id="footer">
  <div class="container">
    <div class="row">
      <a class="contact-links" href="https://ph.linkedin.com/in/apatricksunico" target="_blank">
        <i class="ps-linkedin-logo"></i>
      </a>
      <a class="contact-links" href="https://github.com/PatrickSunico" target="_blank">
        <i class="ps-github-logo"></i>
      </a>
      <a class="contact-links" href="http://codepen.io/Patrick_Starr/" target="_blank">
        <i class="ps-codepen-logo-bordered"></i>
      </a>
      <p class="footer-message">
        Made by <strong>Patrick Sunico</strong> and a whole lotta love
        <i class="ps-pixelHeart">
          <span class="path1"></span><span class="path2"></span><span class="path3"></span>
        </i>
      </p>
      <p class="copyright">&copy;	PS 2016 All rights reserved</p>
    </div>
  </div>
</footer>
