<header>
  <span class="vignette"></span>
      <div class="header-section">
          <div class="headline">
            <h1> Hi I'm Patrick,<br> Nice to meet you </h1>
            <hr class="line">
            <a href="#about" class="btn btn-sharp page-scroll"> GET TO KNOW ME</a>
          </div>
        </div>
    </div>
</header>
