
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="header-text">
        <h1><%= title -%></h1>
        <hr class="line">
      </div>

      <%= yield %>

    </div>
  </div>
</section>
