var form = $("#new_contact");
<% if @contact.errors.count == 0 %>
  $(form).bind("ajax:success", function() {
      $(".alert").append("<h1 class='message'>Thanks I'll Get back to you soon</h1>");
        setTimeout(function(){
          $('.alert').hide('slow', function(){
            // $(this).remove;
          });
        },2000);




      $("#contact_name").val("") && $("#contact_email").val("") && $("#contact_message").val("");

  });
  <% else %>
  $(form).bind("ajax:error", function() {
      $(".alert").append("<h1>Error</h1>");
  });
<% end %>
