<div class="col-md-6">
  <div class="panel-md">
     <%= image_tag("Trollr.jpg", class: "img-responsive", alt: "Trollr")%>
     <!--if Hover animation display this -->
     <div class="hover-info">
       <div class="info-wrapper">
           <!--Title-->
           <h2 class="project-title"> <%= title %> </h2>
           <!--Info-->
           <span class="info">
             A Simple Authentication system built on rails, prompts users to login or signup to view a secret page. PS the secret page involves a 2008 meme.
           </span>
           <!-- Button -->
           <div class="btn-position">
             <button class="btn btn-sharp"><i class="ps-github-logo"></i> </button>
             <button class="btn btn-sharp"><i class="ps-heroku-logo"></i> </button>
           </div>
       </div>
     </div>
  </div>
</div>
