<div class="col-md-6">
  <div class="panel-md">
     <%= image_tag("yelpcamp.jpg", class: "img-responsive", alt: "YelpCamp")%>
     <!--if Hover animation display this -->
     <div class="hover-info">
       <div class="info-wrapper">
           <!--Title-->
           <h2 class="project-title"> <%= title %> </h2>
           <!--Info-->
           <span class="info">
             Airbnb clone but for famous campsites.
             User’s can login or signup, post new campgrounds or rate campgrounds.
           </span>
           <!-- Button -->
           <div class="btn-position">
             <a href="https://github.com/PatrickSunico/yelpcamp-deployed" target="_blank" class="btn btn-sharp"><i class="ps-github-logo"></i> Github</a>
             <a href="" class="btn btn-sharp"><i class="ps-heroku-logo"></i> </a>
           </div>
       </div>
     </div>
  </div>
</div>
