  <p class="lead text">
    As new web technologies are being introduced. Keeping up with the trend and adapting to them is what a regular developer needs, Here’s a list of frameworks and tools that I use. Besides what’s a carpenter without it’s tools right?
  </p>
  <ul class="col-xs-12 col-sm-6 col-md-6 tools-section">
    <h3>Languages</h3>
      <li class="col-md-6 col-sm-6 col-xs-6 clearfix">
        <i class="ps-html5-logo"></i>
        <h5>html5</h5>
      </li>
      <li class="col-md-6 col-sm-6 col-xs-6 clearfix">
        <i class="ps-css3-logo"></i>
        <h5> css3</h5>
      </li>
      <li class="col-md-6 col-sm-6 col-xs-6 clearfix">
        <i class="ps-javascript-logo"></i>
        <h5> javascript</h5>
      </li>
      <li class="col-md-6 col-sm-6 col-xs-6 clearfix">
        <i class="ps-ruby-logo"></i>
        <h5>ruby</h5>
      </li>
  </ul>

  <ul class="col-xs-12 col-sm-6 col-md-6 tools-section">
    <h3>Frameworks &amp; Tools</h3>
    <li class="col-md-6 col-sm-6 col-xs-6">
      <i class="ps-rails-logo"></i>
      <h5>ruby on rails</h5>
    </li>
    <li class="col-md-6 col-sm-6 col-xs-6">
      <i class="ps-bootstrap-logo"></i>
      <h5> bootstrap </h5>
    </li>
    <li class="col-md-6 col-sm-6 col-xs-6">
      <i class="ps-node-logo"></i>
      <h5> Node </h5>
    </li>

    <li class="col-md-6 col-sm-6 col-xs-6">
      <i class="ps-jquery-logo"></i>
      <h5>jQuery</h5>
    </li>
    <li class="col-md-6 col-sm-6 col-xs-6">
      <i class="ps-angular-logo"></i>
      <h5> Angular </h5>
    </li>
    <li class="col-md-6 col-sm-6 col-xs-6">
      <i class="ps-gulp-logo"></i>
      <h5>Gulp</h5>
    </li>
  </ul>
