// Global
#about {
  padding: 100px 0;
  text-align:center;
}
// Mobile First
.about-content {
  img {
    padding: 14px;
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: $primary-color;
  }
  p.lead {
  }
}
//Desktop
@include breakpoint-1200-sm {
  .about-content {
    img {
      height: 300px;
      width: 300px;
    }
    h2 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 40px;
      color: $primary-color;
    }
    p.lead {
      margin-left: 20%;
      margin-right: 20%;
      margin-bottom: 30px;
    }
  }
}
