.has-error input[type=text], .has-error input[type=email], .has-error textarea{
  border: 2px solid #AA0000;
  margin: 0;
}

.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
  }
}


div.alert.alert-danger {
  display: none;
  padding: 15px;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

div.alert.alert-success {
  @extend .alert-danger;
  background: #dff0d8;
}

div.notice-box {
  margin: 10px 0 10px 0;
  height: 55px;
  width: auto;
  overflow: visible;
  z-index: 2;
}
