$primary-color: #50E3C2;
$hover-button-color: #2ce7e7;
$portfolio-buttons: #22282c;
$font-stack: "Open Sans", sans-serif;
/*Global Styles*/
body,html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%;
  width: 100%;
  padding: 0;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font-stack;
  margin: 0;
  letter-spacing: 1px;
}
p {
  font-family: $font-stack;
  font-size: 18px;
}

p.lead.text {
  color:black;
  text-align: left;
  margin: 40px 20px;
  letter-spacing: 0.02rem;
}
p.lead.text-center {
  margin: 40px 0;

}

// Lightblue titles
.inverted-header {
	padding: 1.4em 0;
	text-align: center;
	h1 {
		color: $primary-color;
		text-transform: uppercase;
		font-weight: bold;
		font-weight: 700;
	}
	.line {
		width: 80px;
		border-color: $primary-color;
		border-width: 3px;
	}
}
// White colored Titles
.header-text {
  padding: 1.4em 0;
  text-align: center;
	h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 700;
    color: #fff;
	}
	.line {
    width: 80px;
		border-color: #fff;
		border-width: 3px;
	}
}

.secondary-header{
  @extend .header-text;
  h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 700;
    color: #fff;
  }
}

//Button Global Style
.btn-sharp {
  padding: 18px 24px;
  background: $primary-color;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  color:#fff;
  transition: all 0.30s ease-in-out;
  text-decoration: none;
  &:link, &visited {
    color:white
  }
  &:hover {
    background-color: $hover-button-color;
    color: white;
    outline: none;
  }
  &:active {
    outline: none;
    color:white;
  }
}
