// // Services
$service-panel: #131618;
$service-background: #22282c;
#services {
  background: $service-background;
  padding: 60px 0;
  text-align:center;
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.img-wrap {
    img.web-dev-image{
      height: auto;
      width: 86px;
      margin:10px 0;
    }
    img.resp-design-image{
      height: auto;
      width: 102px;
      margin:10px 0;
    }
    img.toolbox-image {
      height: auto;
      width: 80px;
      margin:10px 0;
    }
}
.panel-wrapper {
  padding: 30px 20px;
  margin: 0 auto 20px auto;
  position: relative;
  background: $service-panel;
  max-width: 300px;
  border-bottom: solid 4px $primary-color;
  hr.line {
    width: 120px;
    border-color: white;
    border-width: 3px;
    margin: 6px auto;
   }
   p {
     text-align: left;
     font-size: 16px;
     font-weight: 500;
     color: white;
     margin: 10px;
   }

   h4.service-heading {
     color: white;
     text-align: center;
     font-weight: 700;
     text-transform: uppercase;
     margin: 10px 0;
   }
}
