<div class="col-lg-4">
  <div class="media">
    <div class="media-left">
      <%= image_tag(services["img"], class: "web-dev-image", alt: services["alt"]) %>
    </div>
      <div class="media-body">
        <h4 class="media-heading"><%= services["title"]%></h4>
        <hr class="line">
        <p><%= services["info"]%></p>
      </div>
  </div>
</div>
